= form_for(@event) do |f|
  .form-group
    = f.text_field :title, :placeholder => "Event name"
  .form-group
    = f.text_field :location, :placeholder => "Location"
  .form-group
    = f.collection_select :community_id, Community.all, :id, :name
  .form-group
    = f.check_box :female_only
    = f.label :female_only
  .form-group
    = f.check_box :children_welcome
    = f.label :children_welcome
  .form-group
    = f.check_box :childcare
    = f.label :childcare
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
