%h2 Sign up to learn about events happening in your community

= form_for @subscriber do |f|
  - if @subscriber.errors.any?
    - @subscriber.errors.full_messages.each do |error|
      = error

  .form-group
    = f.text_field :name, autofocus: true, placeholder: 'name'
  .form-group
    = f.email_field :email, autofocus: true, placeholder: 'email'
  .form-group
    = f.text_field :mobile, autofocus: true, placeholder: 'mobile number'
  .actions
    = f.submit "Sign up"
